.css-gradient{
    background: #302a9b;
    background: linear-gradient(157deg, rgba(48, 42, 155, 1) 0%, rgba(68, 119, 144, 1) 25%, rgba(87, 199, 133, 1) 50%, rgba(173, 212, 104, 1) 79%, rgba(237, 221, 83, 1) 100%);
    width: auto;
    height: 100px;
}
.video video{
    max-width: 500px;
    max-height: 300px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
span p{
    color: rgba(40, 44, 46);
    opacity: .8;
}

.clear{
    clear: left;
}
header h1{
    text-transform:uppercase;
    transform:skew(36deg);
    text-align: center;
    padding-top: 30px;
    rotate: 5deg;
    text-shadow: 6px 4px 2px #CE5A46;
    letter-spacing: 5px;
}
header h1:hover{
    transform: scale(2) translate(5px, 5px);
   
}

/* span{
    display: block;
    background-image: url(media/kungpoa-watermark.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
} 

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    z-index: 100;
}

.menu-toggle{
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
}

.hamburger span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 768px){
    .hamburger{
        display: flex;
        z-index: 100;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background-color: #222;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 3rem;
        transition: right 0.5s ease-in-out;
        box-shadow: -5px 0 15px rgba(0,0,0,0.5);
        z-index: 99;
    }
    .menu-toggle:checked ~ .nav-links{
        right: 0;
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(2){
        opacity: 0;
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}